.competition-main-site .kleo-show-login {
  display: none !important;
}

body:not(.navbar-resize) .header-color .logo img {
  padding-top: 17px;
  padding-bottom: 17px;
  display: inline-block;
}

body:not(.forum) .alternate-color .logo img {
  margin-top: 10px;
}

#traffic4cast-2022 ~ #the-data { display: none; }